{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Ayy this is about</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Involved &raquo;</a></p>
</div>

<div class="container text-center">
    <h1>Our Vision</h1>
    <p>To shift the narrative around South Asian mental health.</p>
    <p>We will sensitize South Asians to mental health challenges while providing hope and support to those affected.</p>
</div>

<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Statistic</h3>
                <p>This is a statistic about something. Statistics are generally of the statistical variety.</p>
            </div>
            <div class="col-sm-4">
                <h3>Fact</h3>
                <p>This is a fact about something. Facts are generally of the factual variety.</p>
            </div>
            <div class="col-sm-4">
                <h3>Statistic 2</h3>
                <p>This is another(!) statistic about something.</p>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-sm-11">
                <input type="text" class="form-control" placeholder="Share your story on Twitter" aria-label="Share your story on Twitter" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">#IAMSHAKTI</span>
                </div>
            </div>    
            <div class="col-sm-1 text-right">
                <a class="btn btn-primary btn" href="#" role="button">Tweet &raquo;</a>
            </div>
        </div>    
    </div>
</div>



<div class="container text-center">
    <h1>Our work</h1>
    <div class="row">
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #00cccc">Some image</div>
            <h4>Build Movement</h4>
            <ul>
                <li>Social Media</li>
                <li>Stories</li>
            </ul>
        </div>
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #cc0066">Another image</div>
            <h4>Empower Individuals</h4>
            <ul>
                <li>Finance</li>
                <li>Grants</li>
                <li>Providers</li>
            </ul>
        </div>
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #ffff55">One more image</div>
            <h4>Build Community</h4>
            <ul>
                <li>Networks</li>
                <li>Call to Action</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <h1>Our History</h1>
    <p>Our history is a history and there will be some text here to describe what the history is.</p>
</div>

<div class="container text-center">
    <h1>In the news</h1>
    <div class="row">
        <div class="col-sm-4">
            <div style="height: 200px; background-color: #cc0066">News 1</div>
        </div>
        <div class="col-sm-4">
            <div style="height: 200px; background-color: #ffff55">News 2</div>
        </div>
        <div class="col-sm-4">
            <div style="height: 200px; background-color: #00cccc">News 3</div>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-sm-8">
            <p>Drop us an email at email@example.com</p>
        </div>    
        <div class="col-sm-4 ">
            <h3>Networks</h3>
            <p>Something goes here</p>
        </div>
    </div>    
</div>

{% endblock %}
