{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Shifting the narrative</h1>
    <h5>around South Asian mental health</h5>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Join Us</a></p>
</div>

<div class="container text-center">
    <h1>Our Vision</h1>
    <div class="row justify-content-center">
        <div class="col-9">
            <p>I AM SHAKTI is both a social movement and a non-profit organization with a vision that, simply put, is to change the narrative around South Asian mental health. We aim to sensitize the South Asian community to mental health challenges while providing hope and support to those affected.</p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <h1><strong>##%</strong></h1>
                <p>of South Asians never seek care</p>
            </div>
            <div class="col-sm-4">
                <h1><strong>Higher</strong></h1>
                <p>suicide rate among South Asian women</p>
            </div>
            <div class="col-sm-4">
                <h1><strong>##%</strong></h1>
                <p>of South Asians never seek care</p>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-sm-11">
                <input type="text" class="form-control" placeholder="Share your story on Twitter" aria-label="Share your story on Twitter" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">#IAMSHAKTI</span>
                </div>
            </div>    
            <div class="col-sm-1 text-right">
                <a class="btn btn-primary btn" href="#" role="button">Tweet &raquo;</a>
            </div>
        </div>    
    </div>
</div>



<div class="container text-center">
    <h1>Our work</h1>
    <div class="row">
        <div class="col text-left font-italic">
            <h4>We are...</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>A social movement</h4>
            <p>Our social movement seeks to engage with the South Asian community both virtually and in-person, raising awareness by sharing stories of members of our community and involving the community through active dialogue and education regarding mental health. By doing so, our movement hopes to normalize mental health challenges within our community, showing individuals currently struggling that they are not along and demonstrating to our community that these struggles do not diminish our strength, power, or resilience.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>A non-profit organization</h4>
            <p>Our growing non-profit organization seeks to build access to South Asian mental health providers, expand our reach professionally, provide resources, and support our social movement. Though we do not directly provide clinical services, our non-profit is currently building a network of South Asian mental health professionals to whom, once complete, we can connect members of our community so that they have access to therapy that is culturally-competent and comprehends the unique stigmas and cultural pressures associated with mental health in South Asian communities.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #00cccc">
                <h1 class="text-center">Build a Movement</h1>
            </div>
            <ul>
                <li>Social media campaigns</li>
                <li>Sharing stories</li>
            </ul>
        </div>
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #cc0066">
                <h1 class="text-center">Empower Individuals</h1>
            </div>
            <ul>
                <li>Network of providers</li>
                <li>Partners</li>
            </ul>
        </div>
        <div class="col-sm-4 text-left">
            <div style="height: 200px; background-color: #ffff55">
                <h1 class="text-center">Grow a Community</h1>
            </div>
            <ul>
                <li>Local networks</li>
                <li>Acension</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container text-center">
        <h1>In the news</h1>
        <div class="row">
            <div class="col-sm-4">
                <div style="height: 200px; background-color: #cc0066">News 1</div>
            </div>
            <div class="col-sm-4">
                <div style="height: 200px; background-color: #ffff55">News 2</div>
            </div>
            <div class="col-sm-4">
                <div style="height: 200px; background-color: #00cccc">News 3</div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <h1>Our History</h1>
    <div class="row justify-content-center">
        <div class="col-9">
            <p>I AM SHAKTI is both a social movement and a non-profit organization with a vision that, simply put, is to change the narrative around South Asian mental health. We aim to sensitize the South Asian community to mental health challenges while providing hope and support to those affected.</p>
        </div>
    </div>
</div>
{% endblock %}
