<html>
<head>
    {% load static %}
    <title>i-amshakti</title>
</head>

<body>
    <div id="navbar">
        <img src="{% static "iamshakti/img/logo-white.png" %}" /> 

        <div id="menu">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'initiatives' %}">Initiatives</a>
            <a href="{% url 'stories' %}">Stories</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="{% url 'more' %}">More</a>
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        So feety hahahahaha
    </div> 
</body>
</html>
