<html>
<head>
    {% load static %}
    <title>i-amshakti</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
</head>

<body>
    <div id="navbar">
        <img src="{% static "iamshakti/img/logo-white.png" %}" /> 

        <div id="menu">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'initiatives' %}">Initiatives</a>
            <a href="{% url 'stories' %}">Stories</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="{% url 'more' %}">More</a>
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        So feety hahahahaha
    </div> 
</body>
</html>
