{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Our Initiatives</h1>
    <h5>Here's a sample of what we're working on...</h5>
    <a class="btn btn-primary btn-lg" href="{% url 'jointhemovement' %}" role="button">Join Us</a>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4><strong>Bring I AM SHAKTI to your city</strong></h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
            <h1>1</h1>
            <strong>Connect with IAS</strong>
            <p>Find the resources and support to help you get started</p>
        </div>
        <div class="col-sm-3">
            <h1>2</h1>
            <strong>Recruitment</strong>
            <p>Start building your network through events and social media</p>
        </div>
        <div class="col-sm-3">
            <h1>3</h1>
            <strong>Host Events</strong>
            <p>Engage your community and build your network</p>
        </div>
        <div class="col-sm-3">
            <h1>4</h1>
            <strong>Long Term Structure</strong>
            <p>Build an IAS structure that fits your community's needs</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div style="height: 200px; background-color: #00cccc">
                <p>Networks doc/slide</p>
            </div>
        </div>
        <div class="col-sm-8">
            <h5>Start a network</h5>
            <p>Local networks play a key role in delivering on I AM SHAKTI's vision - they are the primary way by which our social movement engages with the South Asian community on the ground and in person. Additionally, local networks organize events to spread our message and more intimately recognize the needs of their communities.</p>
            <p>Furthermore, we hope that each network becomes a community for South Asians wherever you are - providing forums to meet, spaces to be vulnerable, and a family with the shared belief of the importance of mental health.</p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h4><strong>Share your Story</strong></h4>
        <br/>
        <h4 class="font-italic">You are not alone.</h4>
        <br/>
        <p>By sharing our stories, with their challenges and experiences, we hope to normalize mental health challenges within our community. We want to show individuals currently struggling that they are not alone, and demonstrating to our community that these struggles <strong>do not diminish our strength, power, or resilience.</strong></p>
        <p>You can read some of our stories here, or if you feel comfortable, submit one of your own.</p>
        <br/>
        <div class="row text-center">
            <div class="col">
                <a class="btn btn-primary btn-lg" href="{% url 'all_stories' %}" role="button">Stories Project</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4><strong>I AM SHAKTI Publication</strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h5>Latest issue: Stories of Shakti: STIGMA</h5>
            <br>
            <p>Every issue, we select a topic regarding mental health that we ask our contributors to explore through writing and art. Enjoy!</p>
            <br>
            <p>Contribute to our newest issue, INTERSECTIONS. First drafts of content are due by __________. If interested, please contact (creative content email).</p>
        </div>
        <div class="col-sm-7 text-center">
            <div style="height: 200px; background-color: #00cccc">
                <h1>Publications artwork</h1>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4><strong>I AM SHAKTI Publication</strong></h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 my-3">
                <h5>Dialogue Series</h5>
                <p>Text about the dialogue series. What it is, how to join, etc.</p>
                <a class="btn btn-primary align-items-end" href="#" role="button">Form</a>
            </div>
            <div class="col-sm-4 my-3">
                <h5>Social Media</h5>
                <p>Join the conversation online by following I AM SHAKTI on social media or sharing your story with the #IAMSHAKTI hashtag. Something about Content.</p>
                <a href="https://www.facebook.com/iamshaktioffical" target="_blank" rel="noopener"><i class="fab fab-initiatives fa-facebook"></i></a>
                <a href="https://instagram.com/iamshaktioffical" target="_blank" rel="noopener"><i class="fab fab-initiatives fa-instagram"></i></a>
                <a href="https://twitter.com/i_amshakti" target="_blank" rel="noopener"><i class="fab fab-initiatives fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCxHpzI3hE2q_MWq3Te_5d3w" target="_blank" rel="noopener"><i class="fab fab-initiatives fa-youtube"></i></a>
            </div>
            <div class="col-sm-4 my-3">
                <h5>Get Involved</h5>
                <p>Join I AM SHAKTI to get involved in spreading the conversation. Or, sign up for our email list to find out what we're doing next!</p>
                <a class="btn btn-primary" href="{% url 'jointhemovement' %}" role="button">Join Us</a>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <h1>Providers or Partners</h1>
    <br />
    <br />
    <br />
</div>
{% endblock %}
