{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static "iamshakti/js/join_us_handler.js" %}"></script>

<div class="jumbotron text-center">
    <h1>Welcome to I AM SHAKTI</h1>
    <h5>Join our community and make a difference</h5>
</div>

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col">
            <h5>Become a Member &bull; Join our Email List &bull; Donate</h5>
        </div>
    </div>

    <h4><strong>Become a Member</strong></h4>
    <br />
    <p>If you are fighting a mental health challenge, and you believe in the transformative capacities of hope... <i>Join I AM SHAKTI</i></p>
    <p>If you know your loved one deserves to feel loved, accepted, and unapologetically powerful... <i>Join I AM SHAKTI</i></p>
    <p>If you refuse to stand complicit with the marginalization of Indian-American, brown, Desi, and/or South Asian individuals going through mental health challenges... <i>Join I AM SHAKTI</i></p>


    <div class="row align-items-center my-4">
        <div class="col-sm-6">
            <p>Description of onboarding process &amp; some teams to join/things to do. View our initiatives page. Get more input here.</p>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName">
            </div>
            <div class="form-group">
                <label for="emailAddr1">Email</label>
                <input type="email" class="form-control" id="emailAddr1">
            </div>
            <div class="form-group">
                <label for="interests">Interests</label>
                <input type="text" class="form-control" id="interests">
            </div>
            <button onclick="jtm_member()" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h4><strong>Join our Email List</strong></h4>
        <br />
        <h5>Not quite ready to be a member? Join our email list to stay up to date with our latest activities.</h5>
        <div class="row align-items-center my-4">
            <div class="col-sm-6">
                <p>Something here</p>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="emailAddr2">Email</label>
                    <input type="email" class="form-control" id="emailAddr2">
                </div>
                <button onclick="jtm_gen_ally()" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h4><strong>Donate</strong></h4>
    <div class="row my-5">
        <div class="col text-center">
            <h4><strong>Paypal platform</strong></h4>
        </div>
    </div>
</div>

{% endblock %}
