/********** Futura PT **********/

@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTBold.otf');
    font-weight:700;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTBoldOblique.otf');
    font-weight:700;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTBook.otf');
    font-weight:300;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTBookOblique.otf');
    font-weight:300;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondBold.otf');
    font-weight:700;
    font-stretch:condensed;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondBoldOblique.otf');
    font-weight:700;
    font-stretch:condensed;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondBook.otf');
    font-weight:300;
    font-stretch:condensed;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondBookOblique.otf');
    font-weight:700;
    font-stretch:condensed;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondExtraBold.otf');
    font-weight:800;
    font-stretch:condensed;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondExtraBoldOblique.otf');
    font-weight:800;
    font-stretch:condensed;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondMedium.otf');
    font-weight:400;
    font-stretch:condensed;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTCondMediumOblique.otf');
    font-weight:400;
    font-stretch:condensed;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTDemi.otf');
    font-weight:500;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTDemi.otf');
    font-weight:500;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTDemiOblique.otf');
    font-weight:500;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTExtraBold.otf');
    font-weight:800;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTExtraBoldOblique.otf');
    font-weight:800;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTHeavy.otf');
    font-weight:600;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTHeavyOblique.otf');
    font-weight:600;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTLight.otf');
    font-weight:200;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTLightOblique.otf');
    font-weight:200;
    font-style:oblique;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTMedium.otf');
    font-weight:400;
}
@font-face {
    font-family: "Futura PT";
    src: url('FuturaPT/FuturaPTMediumOblique.otf');
    font-weight:400;
    font-style:oblique;
}