body {
	margin:0;
	padding:0;
	background:#3d3d3d;
	color:white;
}
* {
	color:white;
	box-sizing:border-box;
	font-family:"Futura PT";
}
#nav {
	background:rgba(11,12,38,.9);
	height:80px;
	width:100%;
	position:fixed;
	top:0;
	z-index:2;
}
a {
	display:inline-block;
	text-decoration:none;
}
#nav img {
	position:fixed;
	z-index:1;
	top:10;
	left:10;
	cursor:pointer;
}
#hotlines ul {
	padding:0;
	margin:0;
}
#hotlines li {
	padding:0;
	margin:0;
	display:block;
}
#hotlines {
	float:right;
	text-align:right;
	padding:5px 10px;
	height:80px;
	background-color:#282946;
}
#menu a {
	margin-right:15px;
}
a span {
	display:block;
	background-color:#f7dcc2;
	width:0%;
	height:2px;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s;
}
#content {
	margin-top:80px;
}
#quotes {
	background:#664938;
}
.quote-container {
	opacity:0;
	transition: opacity .7s;
	overflow:hidden;
	position:absolute;
	top:80;
	z-index:0;
	width:100%;
}
.quote-container img {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	opacity:.5;
}
#rarrow,#larrow {
	position:absolute;
	top:80;
	z-index:2;
	opacity:.7;
	transition: opacity .3s;
	padding:0 5%;
}
#rarrow {
	right:0;
}
#larrow {
	left:0;
}
#rarrow img, #larrow img {
	height:20%;
}
#rarrow:hover, #larrow:hover {
	opacity:1;
}
#quote-footer {
	position:absolute;
	z-index:1;
	width:200px;
	margin:0 auto;
	text-align:center;
}
#quote-footer ul {
	margin:0;
	padding:0;
	display:block;
}
#quote-footer li {
	margin:0;
	padding:3px;
	list-style:none;
	display:inline-block;
	opacity:.7;
	transition:opacity .1s;
	cursor:pointer;
}
#quote-footer a {
	border:1px solid white;
	padding:5px 10px;
	transition:color .2s, background .2s;
}
#quote-footer a:hover {
	color:#664938;
	background:rgba(255,255,255,.9);
}
.quote {
	position:absolute;
	z-index:1;
	width:80%;
	left:20%;
}
.quote p {
	font-size:24pt;
	font-style:italic;
	font-weight:200;
	width:60%;
	margin-left:0%;
	text-align:left;
}
.quote p:nth-child(2) {
	margin-left:15%;
	text-align:right;
}
#about {
	position:relative;
	z-index:1;
	background-color:white;
	overflow:auto;
	font-weight:200;
	text-align:center;
}
#about div {
	float:left;
	width:50%;
	height:100%;
	padding:5%;
}
#about p {
	color:#3d3b39;
	font-size:16pt;
	text-align:left;
}
#about img {
	width:100%;
}
#about h1 {
	font-weight:200;
	color:#890309;
	font-size:38pt;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:12pt;
}
#about h1 span {
	color:#898989;
}
#about hr {
	height:8px;
	background:#898989;
	width:50px;
	border:none;
}
#about a {
	margin-top:30px;
	border:1px solid #890309;
	font-size:14pt;
	color:#890309;
	padding:5px 10px;
	transition:color .2s, background .2s;
}
#about a:hover {
	color:white;
	background:#890309;
}
#why {
	background:rgba(0,0,0,.4);
	position:relative;
	overflow:hidden;
	margin:0;
}
#why img {
	position:absolute;
	bottom:0;
	z-index:-1;
}
#why h1 {
	text-align:center;
	font-weight:300;
	font-size:36pt;
	text-transform:uppercase;
}
#why span {
	color:#fdcc9e;
}
#why hr {
	height:8px;
	background:white;
	width:50px;
	border:none;
}
#why p {
	color:white;
	max-width:550px;
	width:80%;
	margin:0px auto 30px auto;
	text-align:center;
	font-size:14pt;
	font-weight:200;
}
#contact {
	margin:0;
	height:auto;
	background:#f5e9dd;
	overflow:auto;
	padding-bottom:100px;
}
#contact h1 {
	text-align:center;
	font-weight:300;
	font-size:42pt;
	text-transform:uppercase;
	color:#aaa;
}
#contact p {
	text-align:center;
	color:#2e2e2e;
	font-weight:200;
	font-size:16pt;
}
#contact a {
	color:#890309;
}
#contact form {
	display:block;
	max-width:900px;
	width:90%;
	margin:0 auto;
	text-align:center;
	overflow:auto;
}
#contact input {
	background-color:#f5e9dd;
	box-shadow:none;
	border:none;
	color:#bb9a61;
	border-bottom:1px solid #a0a09f;
	height:30px;
	padding:5px;
	font-size:14pt;
	font-weight:200;
	display:block;
	float:left;
	margin:10px 2%;
	width:46%;
}
#contact textarea {
	background-color:#f5e9dd;
	box-shadow:none;
	border:none;
	color:#bb9a61;
	border-bottom:1px solid #a0a09f;
	height:100px;
	padding:5px;
	font-size:14pt;
	font-weight:200;
	display:block;
	float:left;
	margin:10px 2%;
	width:96%;
}
#contact textarea::placeholder {
	color:#890309;
	font-weight:100;
}
#contact input::placeholder {
	color:#890309;
	font-weight:100;
}
#contact input:focus, #contact textarea:focus {
	outline:none;
	border-bottom:1px solid #bb9a61;
}
#contact #subject {
	width:96%;
}
#contact input[type=submit] {
	margin-top:30px;
	border:1px solid #890309;
	font-size:14pt;
	color:#890309;
	padding:5px 10px;
	transition:color .2s, background .2s;
	width:100px;
	cursor:pointer;
	height:auto;
	float:none;
	display:inline-block;
}
#contact input[type=submit]:hover {
	color:white;
	background:#890309;
}
#footer {
	margin-top:80px;
	padding:20px;
	height:100px;
	background:#3e3e3e;
	color:white;
}
#footer a.fa {
	display:block;
	font-size:30px;
	height:50px;
	width:50px;
	float:left;
	opacity:.8;
}
.footer-email {
	float:right;
}
@media only screen and (min-width: 1000px) {
	#nav img {
		width:180px;
	}
	#menu {
		float:right;
		margin-top:45px;
	}
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
	#nav img {
		width:180px;
	}
	#menu {
		clear:right;
		padding-top:15px;
		width:100%;
		text-align:right;
	}
}
@media only screen and (max-width: 600px) {
	#nav img {
		width:30%;
	}
	#hotlines {
		font-size:3vw;
	}
	#menu {
		clear:right;
		padding-top:15px;
		padding-left:30%;
		width:100%;
		text-align:right;
	}
}
/*
	Dark blue:	0b0c26
*/
