html {
    position: relative;
    min-height: 100%;
}

#navbar-logo-image {
    max-width: 40px;
}

#footer-logo-image {
    max-height: 150px;
}

.fab {
    margin-top: 15px;
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
    color: white;
}
