body {
    min-height: 100vh;
}

#navbar-logo-image {
    max-width: 40px;
}

.nav-link {
   font-size: 20px; 
}

.active {
    font-weight: bold;

}

#jointhemovement-btn {
    color: white;    
    padding: 6px 25px;
    border-radius: 20px;
    text-align: center;
}

#footer-logo-image {
    max-height: 150px;
}

.fab-footer {
    margin-top: 15px;
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.fab-initiatives {
    color: blue;
    font-size: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}



@media screen and (min-width: 601px) {
    .stories-list-text {
        font-size: 40px;
        text-indent: -3em;
        margin-left: 3em;
    }
}

@media screen and (max-width: 600px) {
    .stories-list-text {
        font-size: 20px;
    }
}




